<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Full Screen Pet Menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        />
        <link rel="stylesheet" href="./menu.css" />
    </head>
    <body>
        <!-- partial:index.partial.html -->
        <div class="wrapper-images">
            <div class="images-line">
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/kgdcKYdW/KORA.gif);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/LsWRJSF9/t-l-chargement.png);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/V6bwMhzj/t-l-chargement-1.png);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/kgdcKYdW/KORA.gif);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/zfyYZQb9/images.jpg);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/mDYN6bwV/file-Ua9-URo-P1-Bods33-Yw-A7b-Uj-N.webp);
                    "
                ></div>
            </div>
            <div class="images-line">
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/zfyYZQb9/images.jpg);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/kgdcKYdW/KORA.gif);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/L5LHdb7H/t-l-chargement-2.png);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/15VFXRxt/t-l-chargement-2.jpg);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/wTD5q5sM/t-l-chargement-4.png);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/QdLTTLsq/t-l-chargement-1.jpg);
                    "
                ></div>
            </div>
            <div class="images-line">
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/yN80ywp3/live-streaming-red-icon-design-for-the-broadcast-system-live-streaming-icon-with-red-and-white-color.jpg);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/TwR2b6tB/estd.gif);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/pVcVm3z1/image.gif);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/QdLTTLsq/t-l-chargement-1.jpg);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/yN1WmsG0/t-l-chargement-5.png);
                    "
                ></div>
                <div
                    class="line"
                    style="
                        background-image: url(https://i.postimg.cc/TwR2b6tB/estd.gif);
                    "
                ></div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <img
                    src="https://i.postimg.cc/jStJXG3Q/Photoroom-20250118-164425.png"
                    alt="Menu"
                />
            </div>
            <nav class="menu">
                <a href="/" dir="ltr"
                    >ุฌุฏูู ุงููุจุงุฑูุงุช ๐</a
                >
                <a
                    href="/arab"
                    dir="ltr"
                >
                    ูููุงุช ุฑูุงุถูุฉ โฝ</a
                >
                <a
                    href="https://www.instagram.com/stories/highlights/17888680058390863/"
                >
                    ูููุงุช ุนุฑุจูุฉ ๐บ</a
                >
                <a href="https://wa.me/5491168400468" dir="rtl"
                    >โ๏ธ ููุงุดุชุฑุงู ูู ุญุณุงุจ IPTV</a
                >
            </nav>
        </div>
        <!-- partial -->
    </body>
</html>
